body{
    background-color: rgb(210, 218, 235);
    text-align: left;
    font-family: cursive; 
}
h3{
    color: black;
}
.container{
    width: auto;
}
.row{
    margin: auto;
    margin-top: 7px;
    width: 100%;
}
.form-volume{
    border-radius: 1px;
    background-color: rgb(190, 203, 231);
}
.left{
    margin-top: 2px;
}
.right{
    margin-top: 2px;

}
.number{
    border-color: rgb(43, 31, 114);
    border-radius: 4px;
    height: 30px;
    width: 500px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}
.button{
    margin-top: 12px;
    height: auto;
    width: auto;
    border-color: rgb(38, 87, 117);
    font-family: cursive;
    font: bold;
    background-color: rgb(151, 201, 196);
    border-radius: 4px;
}